*{
    box-sizing:border-box ;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container {

    background-color: #f2f2f2;
    padding: 5px 2opx 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea,
select{
       width: 100%;
       padding: 12px;
       border: 1px solid white;
       border-radius: 5px;
       margin: 5px;
}

fieldset{
    background-color: white;
    border-color: white;
}

.heading{
    text-align: center;
}

input[type="submit"]{
    background-color: #4daea1;
    padding: 12px 6px;
    border: none;
    cursor: pointer;
    width: 100%;
}